/*About text*/

.about_text {
    margin-top: -400px;
    background: #222F33;
    padding-bottom: 78px;
}

.about_text_header {
    padding-top: 66px;
    padding-bottom: 11px;
    margin-left: 100px;
    font-family: Merriweather;
    font-style: normal;
    font-weight: 900;
    font-size: 30px;
    line-height: 38px;
    color: #FFFFFF;
}

.about_text_coloumn_one {
    margin-left: 100px;
    font-family: Rubik;
    font-style: normal;
    font-weight: 300;
    font-size: 14px;
    line-height: 24px;
    color: #FFFFFF;
    mix-blend-mode: normal;
    opacity: 0.7;
}

.about_text_coloumn_two {
    margin-left: 523px;
    margin-top: -120px;
    font-family: Rubik;
    font-style: normal;
    font-weight: 300;
    font-size: 14px;
    line-height: 24px;
    color: #FFFFFF;
    mix-blend-mode: normal;
    opacity: 0.7;
}

.usp {
    margin-left: 120px;
}

.usp_img {
    margin-bottom: 90px;
    background: url("../img/usp_img.png");
    filter: alpha(opacity=80) black;
    background-color: #000;
    position: relative;
    width: 355px;
    height: 362px;
    left: 80px;
    top: 88px;
}

.header_pr_one {
    margin-left: 490px;
    margin-top: -368px;
    font-family: Merriweather;
    font-style: normal;
    font-weight: 900;
    font-size: 18px;
    line-height: 23px;
    color: #222F33;
}

.text_pr_one {
    margin-left: 490px;
    margin-top: 4px;
    font-family: Rubik;
    font-style: normal;
    font-weight: normal;
    font-size: 12px;
    line-height: 22px;
    color: #646D70;
    mix-blend-mode: normal;
    opacity: 0.7;
}

.header_pr_two {
    margin-left: 490px;
    margin-top: 37px;
    font-family: Merriweather;
    font-style: normal;
    font-weight: 900;
    font-size: 18px;
    line-height: 23px;
    color: #222F33;
}

.text_pr_two {
    margin-left: 490px;
    margin-top: 4px;
    font-family: Rubik;
    font-style: normal;
    font-weight: normal;
    font-size: 12px;
    line-height: 22px;
    color: #646D70;
    mix-blend-mode: normal;
    opacity: 0.7;
}

.header_pr_three {
    margin-left: 490px;
    margin-top: 37px;
    font-family: Merriweather;
    font-style: normal;
    font-weight: 900;
    font-size: 18px;
    line-height: 23px;
    color: #222F33;
}

.text_pr_three {
    margin-left: 490px;
    margin-top: 4px;
    font-family: Rubik;
    font-style: normal;
    font-weight: normal;
    font-size: 12px;
    line-height: 22px;
    color: #646D70;
    mix-blend-mode: normal;
    opacity: 0.7;
}

.header_pr_four {
    margin-left: 745px;
    margin-top: -350px;
    font-family: Merriweather;
    font-style: normal;
    font-weight: 900;
    font-size: 18px;
    line-height: 23px;
    color: #222F33;
}

.text_pr_four {
    margin-left: 745px;
    margin-top: 4px;
    font-family: Rubik;
    font-family: Rubik;
    font-style: normal;
    font-weight: normal;
    font-size: 12px;
    line-height: 22px;
    color: #646D70;
    mix-blend-mode: normal;
    opacity: 0.7;
}

.header_pr_five {
    margin-left: 745px;
    margin-top: 37px;
    font-family: Merriweather;
    font-style: normal;
    font-weight: 900;
    font-size: 18px;
    line-height: 23px;
    color: #222F33;
}

.text_pr_five {
    margin-left: 745px;
    margin-top: 4px;
    font-family: Rubik;
    font-style: normal;
    font-weight: normal;
    font-size: 12px;
    line-height: 22px;
    color: #646D70;
    mix-blend-mode: normal;
    opacity: 0.7;
}

.header_pr_six {
    margin-left: 745px;
    margin-top: 37px;
    font-family: Merriweather;
    font-style: normal;
    font-weight: 900;
    font-size: 18px;
    line-height: 23px;
    color: #222F33;
}

.text_pr_six {
    margin-left: 745px;
    margin-top: 4px;
    font-family: Rubik;
    font-style: normal;
    font-weight: normal;
    font-size: 12px;
    line-height: 22px;
    color: #646D70;
    mix-blend-mode: normal;
    opacity: 0.7;
}