.footer {
    background: #222F33;
}

.logo__footer {
    margin-top: 35px;
    margin-left: 435px;
}

.email {
    top: -10px;
    margin-left: -384px;
    font-family: Rubik;
    font-style: normal;
    font-weight: 500;
    font-size: 12px;
    line-height: 14px;
    color: #FFFFFF;
    mix-blend-mode: normal;
    opacity: 0.6;
}

.cookies {
    margin-left: 760px;
    margin-top: -30px;
}

.cookies a {
    text-decoration: none;
    font-family: Rubik;
    font-style: normal;
    font-weight: 500;
    font-size: 12px;
    line-height: 14px;
    text-align: right;
    color: #FFFFFF;
    mix-blend-mode: normal;
    opacity: 0.6;
}

.privacy {
    margin-left: 850px;
    margin-top: -18px;
}

.privacy a {
    text-decoration: none;
    font-family: Rubik;
    font-style: normal;
    font-weight: 500;
    font-size: 12px;
    line-height: 14px;
    text-align: right;
    color: #FFFFFF;
    mix-blend-mode: normal;
    opacity: 0.6;
}

@media only screen and (max-width:1200px) {
    .footer {
        padding-bottom: 36px;
        background: #222F33;
        width: 1000px;
        margin: 0 auto;
        /*fix width*/
    }
}

@media only screen and (max-width:1199px) {
    .footer {
        padding-bottom: 36px;
        background: #222F33;
    }
    .logo__footer {
        margin-top: 35px;
        margin-left: 0px;
    }
    .email {
        top: -10px;
        margin-left: -584px;
        font-family: Rubik;
        font-style: normal;
        font-weight: 500;
        font-size: 12px;
        line-height: 14px;
        color: #FFFFFF;
        mix-blend-mode: normal;
        opacity: 0.6;
    }
    .cookies {
        margin-left: 300px;
        margin-top: -30px;
    }
    .privacy {
        margin-left: 370px;
        margin-top: -18px;
    }
}

@media only screen and (max-width:991px) {
    .footer {
        padding-bottom: 36px;
        background: #222F33;
        width: 100%;
        margin: 0 auto;
    }
    .footer {
        padding-bottom: 36px;
        background: #222F33;
        width: 100%;
        margin: 0 auto;
    }
    .logo__footer {
        margin-top: 35px;
        margin-left: 310px;
    }
    .email {
        top: -15px;
        margin-left: -420px;
        font-family: Rubik;
        font-style: normal;
        font-weight: 500;
        font-size: 12px;
        line-height: 14px;
        color: #FFFFFF;
        mix-blend-mode: normal;
        opacity: 0.6;
    }
    .cookies {
        margin-left: 560px;
        margin-top: -15px;
    }
    .privacy {
        margin-left: 620px;
        margin-top: -19px;
    }
}

@media only screen and (max-width:767px) {
    .footer {
        padding-bottom: 36px;
        background: #222F33;
        width: 100%;
        height: 50px;
        margin: 0 auto;
    }
    .logo__footer {
        top: -400px;
        margin-top: 10px;
        margin-left: 40%;
    }
    .email {
        margin-left: -55%;
    }
    .cookies {
        margin-left: 70%;
    }
    .privacy {
        margin-left: 80%;
    }
}

@media only screen and (max-width:575px) {
    .footer {
        padding-bottom: 36px;
        background: #222F33;
        width: 100%;
        margin: 0 auto;
    }
    .email {
        font-weight: 400;
        font-size: 10px;
        line-height: 12px;
        color: #FFFFFF;
        mix-blend-mode: normal;
        opacity: 0.6;
        margin-left: -50%;
    }
    .cookies {
        margin-left: 65%;
    }
    .privacy {
        margin-left: 80%;
    }
    .logo__footer {
        margin-left: 30%;
    }
}

@media only screen and (max-width:535px) {
    .footer {
        background: #222F33;
        width: 100%;
        margin: 0 auto;
        height: 75px;
    }
    .email {
        font-weight: 400;
        font-size: 10px;
        line-height: 12px;
        color: #FFFFFF;
        mix-blend-mode: normal;
        opacity: 0.6;
        margin-left: -90%;
    }
    .cookies {
        margin-top: 15px;
        margin-left: 65%;
    }
    .privacy {
        margin-left: 80%;
    }
    .logo__footer {
        margin-left: 65%;
    }
}

@media only screen and (max-width:385px) {
    .footer {
        background: #222F33;
        width: 100%;
        margin: 0 auto;
        height: 95px;
    }
    .email {
        font-weight: 400;
        font-size: 10px;
        line-height: 12px;
        color: #FFFFFF;
        mix-blend-mode: normal;
        opacity: 0.6;
        margin-left: -858;
    }
    .cookies {
        margin-top: 0px;
        margin-left: 5%;
    }
    .privacy {
        margin-top: 0px;
        margin-left: 5%;
    }
    .logo__footer {
        margin-left: 50%;
        padding-bottom: 20px;
    }
}